<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dezzex</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}">

</head>

{% block css %}
     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/signin.css')}}" />
{% endblock %}

{% block content %}
    <div class="container">

      <form class="form-signin" method="post">
        <h2 class="form-signin-heading">SignIn</h2>
        <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <input type="username" id="inputUserName" name="inputUserName" class="form-control" placeholder="User Name" required>
        <input type="password" id="inputPassword" class="form-control" name="inputPassword" placeholder="Password" required><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">SignIn</button>
      </form>

    </div>


{% endblock %}

</html>